In [1]:
import pandas as pd

recommendation_df = pd.read_json('./data/song_id2playlist_word2vec.json', typ = 'frame')
song_meta_df = pd.read_json('./data/song_meta_data_v3.json', typ = 'frame')

In [2]:
song_meta_df

,id,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,like,kor_song_gn_gnr_basket,song_embedding_idx
0,77646,"[GN0303, GN0301]",20110725,쿵푸하는 팻두가 담긴 일기장,1348654,[238069],백설공주와 한 난장이,[GN0300],[팻두],703,[랩/힙합],0
1,412680,"[GN2503, GN0205, GN2501, GN2506, GN0201]",20200217,BLOOM*IZ,10389281,[2398653],FIESTA,"[GN2500, GN0200]",[IZ*ONE (아이즈원)],127050,"[아이돌, 댄스]",1
2,102461,"[GN0303, GN0301]",20160414,Sunset Beach (선셋비치),2679365,[773249],Sunset Beach,[GN0300],[파로 (Pharoh)],142,[랩/힙합],2
3,664083,"[GN1503, GN1501, GN0902]",20171215,BRIGHT : THE ALBUM,10109813,[582611],World Gone Mad,"[GN1500, GN0900]",[Bastille],8,"[OST, POP]",3
4,160607,"[GN1207, GN1201, GN1202]",19990615,Heavy,2040926,[29358],Listen (Album Version) (Feat. Q-Tip),[GN1200],[Heavy D],27,[랩/힙합],4
...,...,...,...,...,...,...,...,...,...,...,...,...
169107,4252,"[GN2503, GN0205, GN2501, GN2506, GN0201]",20140818,카라 (Kara) 6th Mini Album `Day&Night`,2275068,[222128],멜랑꼴리 (24/7),"[GN2500, GN0200]",[카라],1599,"[아이돌, 댄스]",169107
169108,4010,[GN0901],20040330,Damita Jo (Clean),312002,[3418],SloLove,[GN0900],[Janet Jackson],75,[POP],169108
169109,565930,[GN1001],20031128,Pseudo Echo Long Plays 83-87,312232,[171049],Funky Town,[GN1000],[Pseudo Echo],83,[록/메탈],169109
169110,197326,"[GN0906, GN0901, GN0903]",19940000,The Best Of...So Far,46437,[27103],I Just Fall In Love Again,[GN0900],[Anne Murray],988,[POP],169110
169111,62144,"[GN2601, GN0509, GN2603, GN0504, GN0501]",20191029,pigfrog,10344517,[2752130],isle,"[GN0500, GN2600]",[pigfrog],810,"[인디음악, 일렉트로니카]",169111

In [97]:
song_meta_df[song_meta_df['id'] == 14]

,id,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,like,kor_song_gn_gnr_basket,song_embedding_idx
45450,14,"[GN2704, GN1104, GN1103, GN1101]",20140728,Knock You Out (Remixes),2269860,[455705],Knock You Out,"[GN2700, GN1100]",[Bingo Players],4,"[EDM, 일렉트로니카]",45450

In [3]:
input_song = "Mama Said Knock You Out"
id = int(song_meta_df[song_meta_df['song_name'] == input_song]["id"])
print(id)

440574

In [69]:
recommendation_df

,3,5,29691,10,29694,59488,11,29697,59491,14,...,707949,707953,707956,707960,707965,707969,707970,707978,707980,707986
0,3,5,29691,10,29694,59488,11,29697,59491,14,...,707949,707953,707956,707960,707965,707969,707970,707978,707980,707986
1,414376,5391,602713,606409,95830,239729,456218,2939,520024,444217,...,243149,233274,630199,225021,706727,64967,531675,282811,108364,634333
2,597189,395051,224378,437344,158462,345479,586060,381465,99371,241048,...,171442,77833,351057,641703,560308,150898,678117,252753,548485,367309
3,201784,160413,127541,285668,446178,502084,382067,615071,606792,705554,...,42064,518857,297580,372367,420985,694282,114230,287391,162648,100982
4,514558,526466,683563,580287,318352,435186,629557,66534,506657,258601,...,390612,552848,515466,219747,80850,172046,466056,222438,549482,240100
5,210138,239424,332096,289777,684549,217288,373302,214479,30893,43078,...,471460,122422,473421,148534,49828,292200,241167,601648,434487,475334
6,565161,676425,115242,328456,443812,329806,316273,541907,149936,135749,...,701036,377051,104438,439362,658925,345486,87617,285116,529245,437497
7,291505,588457,317021,622818,116215,144982,58913,543852,388864,581730,...,629667,514017,416834,300735,562353,190662,441617,598977,258698,1519
8,152821,149433,25961,71111,77729,240022,568601,489680,688035,344078,...,18588,192246,556690,122269,182853,652144,328765,1226,333552,19959
9,567057,340127,133225,635013,657882,514662,137458,59628,213358,691980,...,198874,58246,472445,554490,264734,665135,301094,424774,524766,643194

In [4]:
song_list = list(recommendation_df[440574])

In [5]:
song_list

[440574, 397763, 165044, 340075, 236592, 434696, 452582, 176355, 43925, 341890]

In [80]:
song_meta_df[song_meta_df['id']==song_list[1]]["song_name"]

156162    나에게만 들리는 노래
Name: song_name, dtype: object

In [83]:
name = song_meta_df[song_meta_df['id']==song_list[1]]["song_name"]

In [91]:
name.values[0]

'나에게만 들리는 노래'

In [67]:
input_song = "Para Los Enamorados"
song_id = int(song_meta_df[song_meta_df['song_name'] == input_song]["id"])
song_list = list(recommendation_df[song_id])
result_song = song_meta_df[song_meta_df['id']==song_list[1]]["song_name"]

In [71]:
song_list

[5, 5391, 395051, 160413, 526466, 239424, 676425, 588457, 149433, 340127]

In [92]:
result = []
for i in range(len(song_list)):
    result.append(song_meta_df[song_meta_df['id']==song_list[i]]["song_name"].values[0])

In [93]:
result

['Para Los Enamorados',
 '나에게만 들리는 노래',
 'Just Like You',
 '과일나라 소녀',
 'Comes Love',
 '류복성의 수사반장 (Old Detective)',
 '너에게로',
 'Chopin : Nocturne No.2 In E Flat Major Op.9-2 - Andante (쇼팽 : 야상곡 2번 내림 마장조 작품번호 9-2)',
 '평범한 그대',
 'Getaway']

In [68]:
result_song

156162    나에게만 들리는 노래
Name: song_name, dtype: object

In [8]:
recommendation_df

,3,5,29691,10,29694,59488,11,29697,59491,14,...,707949,707953,707956,707960,707965,707969,707970,707978,707980,707986
0,3,5,29691,10,29694,59488,11,29697,59491,14,...,707949,707953,707956,707960,707965,707969,707970,707978,707980,707986
1,414376,5391,602713,606409,95830,239729,456218,2939,520024,444217,...,243149,233274,630199,225021,706727,64967,531675,282811,108364,634333
2,597189,395051,224378,437344,158462,345479,586060,381465,99371,241048,...,171442,77833,351057,641703,560308,150898,678117,252753,548485,367309
3,201784,160413,127541,285668,446178,502084,382067,615071,606792,705554,...,42064,518857,297580,372367,420985,694282,114230,287391,162648,100982
4,514558,526466,683563,580287,318352,435186,629557,66534,506657,258601,...,390612,552848,515466,219747,80850,172046,466056,222438,549482,240100
5,210138,239424,332096,289777,684549,217288,373302,214479,30893,43078,...,471460,122422,473421,148534,49828,292200,241167,601648,434487,475334
6,565161,676425,115242,328456,443812,329806,316273,541907,149936,135749,...,701036,377051,104438,439362,658925,345486,87617,285116,529245,437497
7,291505,588457,317021,622818,116215,144982,58913,543852,388864,581730,...,629667,514017,416834,300735,562353,190662,441617,598977,258698,1519
8,152821,149433,25961,71111,77729,240022,568601,489680,688035,344078,...,18588,192246,556690,122269,182853,652144,328765,1226,333552,19959
9,567057,340127,133225,635013,657882,514662,137458,59628,213358,691980,...,198874,58246,472445,554490,264734,665135,301094,424774,524766,643194

In [11]:
recommendation_df.iloc[1,0]

414376